DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=development
DATABASE_PASSWORD=testing
DATABASE_NAME=healthflow

DATABASE_URL=postgresql://development:testing@localhost:5432/healthflow

JWT_SECRET="defaultSecretKey"
