DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=development
DATABASE_PASSWORD=testing
DATABASE_NAME=healthflow

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

DATABASE_URL=postgresql://development:testing@localhost:5432/healthflow

JWT_SECRET="defaultSecretKey"

RABBITMQ_URL="amqp://guest:guest@localhost:5672"
