.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.emptyState {
  padding: 48px;
  text-align: center;
}

.emptyStateMessage {
  margin-top: 8px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
